@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Address Book</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                For more ASP.NET Tutorials visit us at
                <a href="http://www.dotnetcurry.com/" title="DotNetCurry">www.dotnetcurry.com</a>.
            </p>
        </div>
    </section>
}
